<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/aboutUs.css" />
    <link rel="stylesheet" href="../../styles/common.css" />
    <title>About Us</title>
  </head>
  <body>
    <div class="nav-bar-container">
      <div class="main-logo">ExamCore</div>
      <div class="navigation-bar">
        <ul>
          <a href="../../../homePage.html"><li>Home</li></a>
          <a href="./aboutUs.html"><li>About</li></a>
          <a href=""><li>Support</li></a>
          <a href="#"><li>Contact Us</li></a>
        </ul>
      </div>
      <div class="try-free-login-btn">
        <p>
          <a href="../AccessPages/SelectionPages/accessSelection.html"
            >Try For Free</a
          >
        </p>
      </div>
    </div>

    <div class="about-us-container">
      <div class="about-us-description">
        <h1>About Us</h1>
        <p class="abouts-us-details">
          Quiz Core streamlines exam administration with features for
          registering examiners, students, and organizing exams. Admins can
          manage everything from exam creation to participant oversight.
          Examiners control exam content and results, while students enjoy a
          seamless registration process.
        </p>
        <p class="about-us-main-learn-more">
          Learn More
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAPxJREFUaEPtmEESwjAMA9Wf8bPCy+BnlBxyYXpQE8kmjHPqwUm1kmecdsPia1tcPwogO8FKoBKYdKBaaNLA6e2VAGnhDcCLrL1UFpHAHcAO4PFR1p6lyw3QxXfRcggnQGub54ndUggnQNP+nYA8CTeAHSICwAoRBWCDiASwQEQDyCEyAKQQWQAyiBGAt/QucH4YPex+FaBhURAFYGonyv327pEEVJol96QsAIn4rARk4jMApOKjAeTiIwEs4qMAbOIjAKzi3QB/+VFPT1h2WkYMsqV/bHUjl/61yHbDUF1ECw0JYzcVAOuUq64ScDnLnlsJsE656ioBl7PsuQer2DYx4RoThQAAAABJRU5ErkJggg=="
          />
        </p>
      </div>
      <div class="about-us-features">
        <div>
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAaNJREFUaEPtmA1OxSAQhPedTD2ZejL1ZOqYt0kDS/eH3SoREpPmCXS+mS3Q3mjxdltcP22A305wJ/CfEvhUYEPVEBoUdH0DSMbtBILl5Bn2SETvowFXJuARzX1fiOiZiF6/f8B1164CgIv4e7grwDUaO/txvz46zeJZtAhRDdCK0FIAAIQCEM637aktp0oAr3gN7rIE4N6bpsb5/9AzENl4KsSjrFA6YjsrIS9AhXgWPdSZCYCy4dXlrELae2pG8WolppAF4HE/AgCI0ofY6j6ERAGksSmvlB73ZwFK9gHvej+TQFdGGRuZp3xmE+iWVAlAWxXaMcsDaMDtkjpTQl2CGQksD/DnSsh5zvo5uFl2YO+8Un/TQ+y9kXcZ9c5/7F+yjHo3shmAko0MgrwPcgRCPFZnHeauKKPOffFwdLBGc7WFr4QYvtRkJcDcGnSkdDBGdD87AcxX8UAPxWsAUbcyIU7FVwFwEviuE93ghl8htINV1PXROP5A5QExi69MoAWKfFo0mZnxQmO6UVWnDVDlrHXenYDVqap+O4EqZ63zLp/AF4s3WTF8hiodAAAAAElFTkSuQmCC"
          />
          <p class="feature-heading">Real-Time Results and Analytics</p>
          <p class="feature-description">
            Get instant exam results with detailed performance analytics to help
            examiners and students track progress and improve outcomes.
          </p>
        </div>
        <div>
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAQFJREFUaEPtV1sOwjAM824GJ0OcDG4GFAlpirqmAa+P4f70Y20Wx3GaLJh8LZP7DwHozaAYGJmBE4ALgLRH1h3A9XUv7evFtve2XUqh2xfOfxxOzp8NALY9F8AjEvbMWRsctj0B8AgSAyZCWb2WRMzOWbY9aUAa8CIgDQQjZI+rjP59CrGbL7Y99x1gt79sey6AHzXc5rpGyjZx3v7LoRnYRXRsxlrOxGzf3Sq0S/+eQWH/E0rrlgPNFgMCUBuZaA7XpsJ0DES1VQxEDw0IwDqXxUBB2YcVscU8XRUSgFoR7zLDRl9D73xJaNO30x74Ib7XlrohnM05IQC9qREDvRl4ApxRTjEDoxvtAAAAAElFTkSuQmCC"
          />
          <p class="feature-heading">Customizable Exam Creation</p>
          <p class="feature-description">
            Easily design exams with flexible question formats, timers, and
            grading settings, tailored to suit your institution's needs.
          </p>
        </div>
        <div>
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAfZJREFUaEPtWQFOwzAMzF4GvAx4GfAy2EmNFFLHZ7tO10mJNG3dsuud7aTu9VaefNyenH9ZAh6dQUsGXkspeL1sZPH5u5Tycz/+SBAg4X9uuBSfCQDAOyGJk9ETDTAO42sCLOCVV0RECv5IgAc8IiINfyTgt0s5ah5RxjvGiMBbM0ervDR8SYBEbiT0a1vgniyk4lsEaPWNHQQi6kCGkAVt9AIO4UsC+vSynerM+bsASeT6sriSAGT2Hx+LALYwZ2aAlptlDbC6nimgx96tF0lAvzDZDjNDADigA8B7O3Z8My9kCW2RCiHuVlmtxEPI71a0wCJyyc8Wo/ZZbIusZGq3yTrTDPK1XUG7js/1WMS2CvD0NQzTu+jVoLCTWSLqJeSdvwSwLHgj6p2/MrAy0EVglZDaHAn1Ivk2rKyO/n6qL3SULPt/uJW4Qh/EWvmhuXsl8qqIqC/Upt27q1jmm30nyy0la7sthKKCqe9kEcB8z5kCqO+0fKH7zffMDKD0VPyjvlC/2JgFA0J9XWu+03RfiPo2hvtsTTTFj/pCZt9m0Jq0hrC0z5vxM30htlu1WiIXyqm+kId863RYXY4hPrupt0QqQt4jItzM9SnHcY1YfcxKfRvWam6/I1B4jFsf4eLr03whI8c501gJzTlrIuoSkBjMENQfVueqMeHUK+UAAAAASUVORK5CYII="
          />
          <p class="feature-heading">Automated Exam Creation and Management</p>
          <p class="feature-description">
            Admins can create, schedule, and manage exams easily with automated
            tools, reducing the workload and eliminating manual errors.
          </p>
        </div>
        <div>
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAXRJREFUaEPtlmsOAiEMhNmb6cnUk+nN1CZiVijblj4IBv6YrPvo1xmGbmnytU1ef1oAoxXsVeCUUrqklOA3Yt3eH7liH+oFeEZUjXzj/G7aY3+9BwA6Ad0fsaB4gPiuHoBR3c9F/9S8AJg+AulhI2b/wubPQcB8Be6aCAWaCfJJFul+CrXQUfG5pXdhHIcCVLGH+AWsBBDcFQrAtagk2RaApFtDLFQWWNpAAlCdnIjRpSc7aSFLAKg3PEatATIEqLE/yHqn2XAFuPHIvW8BSDYxt6uS+8IVyIMcFFkOc3DNfBay2sScOSh3XhKl7gqUo7PEHpzBzhWAc3BRQBSEKwB3eDuCoKZTNwCJ5zUqTAFwpIIbgIV99sq0zhs3AMoWVv8vgOlHCSqnrayCvadKOmzjUaMEldOeAFW9PQA984sWqjmeaAC0RZk8vwBM2qh4yV8qEB2TqhEEe3h6gOicN1cgOufdABTZEPeoij6uzPaXFsBoFV4fFWYxzPfjDwAAAABJRU5ErkJggg=="
          />
          <p class="feature-heading">Multi-User Role Management</p>
          <p class="feature-description">
            Admins have full control to assign roles such as examiner, student,
            and administrator, with distinct access levels for efficient
            management of the platform.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
