<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/SupportPage.css" />
    <link rel="stylesheet" href="../../styles/common.css" />
    <title>Support</title>
  </head>
  <body>
    <div class="nav-bar-container">
      <div class="main-logo">ExamCore</div>
      <div class="navigation-bar">
        <ul>
          <a href="../../../homePage.html"><li>Home</li></a>
          <a href="./aboutUs.html"><li>About</li></a>
          <a href=""><li>Support</li></a>
          <a href="#"><li>Contact Us</li></a>
        </ul>
      </div>
      <div class="try-free-login-btn">
        <p>
          <a
            href="http://localhost/quizcore/src/components/AccessPages/userRegister.php"
            >Try For Free</a
          >
        </p>
      </div>
    </div>

    <div class="support-container">
      <div class="support-description">
        <h1>Frequently Asked Questions</h1>
        
        <p class="support-details">
          Welcome to QuizCore Support.Our goal is to provide a smooth 
          and user-friendly platform to our users in order to optimize the user experience.
          Our team is available 24/7 for your assistance and you can contact our team via different
           platforms mentioned under Contact US.These are the most frequently asked questions by our users.
          
        </p> 
      
      </div>
      <div class="support-features">
        <div>
          <h3>
            How to register for exams?
          </h3>
        </div>
        <br>
        <div>
          <h3>
            How long will it take to release results?
          </h3>
        </div>
        <br>
        <div>
          <h3>
            How to get technical assistance?
          </h3>    
        </div>
        <br>
        <div>
          <h3>
            How to select correct exam?
          </h3>       
        </div>
       
      </div>
    </div>
    
  </body>
</html>
