<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../styles/SupportPage.css" />
    <link rel="stylesheet" href="../../styles/common.css" />
    <title>Support</title>
  </head>
  <body style="margin-left: 0px; margin-right: 20px;">
    <div class="nav-bar-container">
      <div class="main-logo">ExamCore</div>
      <div class="navigation-bar" style="margin-left: 0px;">
        <ul>
          <a href="../../../homePage.html"><li>Home</li></a>
          <a href="./aboutUs.html"><li>About</li></a>
          <a href="#"><li>Support</li></a>
          <a href="./contactus.php"><li>Contact Us</li></a>
        </ul>
      </div>
      <div class="try-free-login-btn">
        <p>
          <a
            href="http://localhost/quizcore/src/components/AccessPages/userRegister.php"
            >Try For Free</a
          >
        </p>
      </div>
    </div>

    <div class="support-container">
      <div class="support-description">
        <h1 style="color:#901f8d;">Frequently Asked Questions</h1>
        <img src="../../Images/faq.png" alt="FAQ Image"/>
        <p class="support-details">
          Welcome to QuizCore Support.Our goal is to provide a smooth and
          user-friendly platform to our users in order to optimize the user
          experience. Our team is available 24/7 for your assistance and you can
          contact our team via different platforms mentioned under Contact
          US.These are the most frequently asked questions by our users.
        </p>
        
        
      </div>
      <div class="support-features" style="border: #901f8d;">
        <div>
          <h3 >How to register for exams?</h3>
          <img src="../../Images/exam-support.png" alt="Support Image" class="faq-image" />         
            <p>To register for exams, visit the "Exams" section under your account dashboard.
              Choose the desired exam, select the date, and confirm your registration. 
              You will receive an email confirmation with all the details.</p>      
        </div>
        <br>
        
        <div>
          <h3>How long will it take to release results?</h3>
          <img src="../../Images/support.png" alt="Support Image" class="faq-image" />
         <p>The exam results are typically released within 7-10 business days after the exam date.
               You will receive a notification via email once the results are available. 
               You can also check your results in your account
                dashboard under the "Results" section.</p>
        </div>
        </div>
        <div class="support-features" style="border: #901f8d;">
        <div>
          <h3>How to get technical assistance?</h3>
          <img src="../../Images/technical-support.png" alt="Support Image" class="faq-image" /> 
            <p>If you are facing technical difficulties, you can contact our support team via email.
              You can also visit the "Contact Us" page and browse through the
              options available 
              for further assistance.</p>    
        </div>
       <br>
        <div>
          <h3>How to select correct exam?</h3>
          <img src="../../Images/exam-online.png" alt="Support Image" class="faq-image" />
         
            <p>To select the correct exam,log in to your account, visit the "Exams" section, and filter the
              available exams by subject or date. Read the descriptions carefully
               to ensure you choose the correct exam based on your course or qualification.</p>
       
      </div>
      </div>
    </div>
  </body>
</html>
