<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Examiner's Exam </title>
    <link rel="stylesheet" href="examinerResult.css" />
  </head>
  <body>
    <div class="container">
      <!-- Sidebar -->
      <aside class="sidebar">
        <h1>ExamCore</h1>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Exams</a></li>
          <li><a href="#">Results</a></li>
          <li><a href="#">Notifications</a></li>
        </ul>
        <button class="profile-btn">Examiner Profile</button>
      </aside>

      <main class="dom-content">

      <div class="name-placeholder">
        <h1> Hello Examiner!</h1>
      </div>

    <div class="content">
        <div class="exam-result">
            <section class="exam-res">
              <div class="exam-res1">
                <p>Total Students</p>
              </div>
            </section>

            <section class="exam-res">
                <div class="exam-res1">
                  <p>Total Students</p>
                </div>
              </section>

              <section class="exam-res">
                <div class="exam-res1">
                  <p>Total Students</p>
                </div>
              </section>

              <section class="exam-res">
                <div class="exam-res1">
                  <p>Total Students</p>
                </div>
              </section>
              
        </div>
    </div>
   
    </main>