<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./studentSupport.css">
        <link rel="stylesheet" type="text/css" href="../../../styles/commonNavbarStyles.css">
        <title>The Student's Support Page</title>
        
    </head>
    <body>
       
            
            <div class="wrapper">
                <div class="container">
                    <aside class="sidebar">
                        <h1>ExamCore</h1>
                        
                  
                        <ul>
                          <li><a href="../StudentHome/StudentHome.html">Home</a></li>
                            <li><a href="../studentExam.html">Exam</a></li>
                            <li><a href="../StudentSupport/studentSupport.html">Support</a></li>
                            <li><a href="../StudentNotification.html">Notification</a></li>
                                            </ul>
                        <button class="profile-btn">
                            <a href="../studentProfile.html">Student Profile</a>
                        </button>
                    </aside>
                </div>
            </div>
            
       
        <main>
           
            <section class="ask-questions">
                <h2>Ask Questions</h2>

            
            <!--for and id should be adjusted according to login page-->
            <form>
                <label for="subject">Subject</label>
                <input type="text" id="subj" name="subj">
                <label for="question">Question</label>
                <input type="text" id="ques" name="ques">

            </form>
            <center><button>Submit</button></center>
            
        </section>

        </main>
        <footer>
            <center>
                <p>Copyright © 2024 Website. All rights reserved.
                <a href="#">Terms & Conditions</a> |
                <a href="#">Privacy Policy</a></p>
    
            </center>
            
          </footer>

    </body>
    </html>