<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Examiner's Exam Page</title>
    <link rel="stylesheet" href="examinerExam.css" />
  </head>
  <body>

    <div class="wrapper">
    <div class="container">
      <!-- Sidebar -->
      

      <!-- Main content -->
      <main class="main-content">
        <div class="name-placeholder">
          <h2>HELLO EXAMINER !</h2>
        </div>
       
      </main>
    </div>

    <!-- Footer -->
       <footer>
         <p>Copyright © 2024 Website. All rights reserved.</p>
         <a href="#">Terms & Conditions</a> |
         <a href="#">Privacy Policy</a>
    </footer>
  </div>
  </body>
</html>
