<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="../../styles/studentProfile.css">
        <link rel="stylesheet" href="../../styles/commonNavbarAndFooterStyles.css">
        <title>The Student's Profile</title>
        <script  src="studentProfile.js" defer></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <aside class="sidebar">
                    <h1>ExamCore</h1>
                    
              
                    <ul>
                      <li><a href="StudentHome.html">Home</a></li>
                        <li><a href="../studentExam.html">Exam</a></li>
                        <li><a href="../StudentSupport/studentSupport.html">Support</a></li>
                        <li><a href="../StudentNotification.html">Notification</a></li>
                                        </ul>
                    <button class="profile-btn">
                        <a href="../studentProfile.html">Student Profile</a>
                    </button>
                </aside>
            </div>
        </div>
        <main>
           
            <section class="student-profile">
                <h2>Hello Student</h2>
            <!--for and id should be adjusted according to login page-->
            <form id="studentForm">
                <label for="name">Name</label>
                <input type="text" id="name" name="name">
                <label for="DOB">DOB</label>
                <input type="date" id="DOB" name="DOB">
                <label for="Email">Email</label>
                <input type="email" id="email" name="email">
                <label for="StID">Student ID</label>
                <input type="text" id="StID" name="StID">
                <label for="Password">Password</label>
                <input type="password" id="password" name="password">
            
            
            <div class="button">
                <!--Edit button is not working yet-->
                <button type="button" class="edit" onclick="editProfile()">Edit</button>
                    <button type="button" class="changePW" onclick="changePassword()">Change Password</button>
                    <button type="button" class="delete" onclick="deleteProfile()">Delete Profile</button>

            </div>
        </form>
            
        </section>
        <section class="exam-history">
            <h2>Exam History</h2>
            <ul>
                <li><a href"">Exam 1</li>
                <li><a href"">Exam 2</li>
                <li><a href"">Exam 3</li>
                <li><a href"">Exam 4</li>
                <li><a href"">Exam 5</li>

            </ul>

        </section>
        </main>
        <footer class="page-footer">
            <p>Copyright ©️ 2024 ExamCore. All rights reserved. | <a href="#">Terms & Conditions </a>| <a
                    href="#">Privacy Policy</a></p>
        </footer>
        

    </body>
    </html>