
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Poppins, sans-serif;
    background-color:white;
    margin: 0%;
}

.content {
    flex: 1;
    padding-left: 300px;
    overflow-y: auto;
    padding-top: 20px;
    padding-right: 5px;
}
.search-bar input{
    font-family: poppins, sans-serif;
    padding: 3px;
    border-radius: 5px;
    border-style: solid;
    width: 120px;
  
  }
  .search-bar button{
    font-family: poppins, sans-serif;
    padding: 5px;
    width: 70px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
.header {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 20px; */
    
}
h2{
    padding: 25px;
}

.header input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 200px;
}

.exam-list {
    list-style: none;
    padding: 0;
}

.exam-list li {
    margin-bottom: 10px;
}

.exam-list li input[type="checkbox"] {
    margin-right: 5px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.progress-bar .fill {
    height: 100%;
    background-color: #4CAF50;
    width: 50%; /* Adjust the width based on progress */
}

/* OTP Popup */
#otp-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
}

#otp-popup h3 {
    margin: 0 0 10px;
}

#otp-popup input[type="text"],
#otp-popup input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#otp-popup input[type="checkbox"] {
    margin-right: 5px;
}

#otp-popup button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#otp-popup #error-message {
    color: red;
    margin-top: 10px;
}

/* Overlay for OTP Popup */
#otp-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
