<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../styles/studentPasswordReset.css">
        <title>Password Reset Popup</title>
    </head>
    <body>
        <h1>ExamCore</h1>
        <center><h2>Change Password</h2></center>
        
        <form action="update password"method="POST">
            Old Password:
            <input type="password" id="OldPw" name="OldPw" required><br>
            New Password:
            <input type="password" id="NewPw" name="NewPw" required pattern=".{8,}" title="Password should contain minimum 8 characters"><br>
            Confirm Password:
            <input type="password" id="ConfirmPw" name="ConfirmPw" required pattern=".{8,}" title="Password should contain minimum 8 characters"><br>
            <center><input type="submit" value="Submit"></center>
        </form>
    </body>
    
</html>