<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../StudentPages/studentSupport.css">
        <title>The Student's Support Page</title>
        
    </head>
    <body>
        <nav>
            <h1>ExamCore</h1>
            
                <ul>
                    <li><a href"">Exam</a></li>
                    <li><a href"" class="active">Support</a></li>
                    <li><a href"">Notification</a></li>
                    <li><a href"">Student Profile</a></li>
                </ul>
            
        </nav>
        <main>
           
            <section class="ask-questions">
                <h2>Ask Questions</h2>

            
            <!--for and id should be adjusted according to login page-->
            <form>
                <label for="subject">Subject</label>
                <input type="text" id="subj" name="subj">
                <label for="question">Question</label>
                <input type="text" id="ques" name="ques">

            </form>
            <center><button>Submit</button></center>
                
                
        
            
        </section>
        
<!--Footer position should be fixed-->
        <footer>
            <center>
                <p>Copyright © 2024 Website. All rights reserved.</p>
                <a href="#">Terms & Conditions</a> |
                <a href="#">Privacy Policy</a>
    
            </center>
            
          </footer>
        


        </main>
        

    </body>
    </html>