<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/common.css" />
    <title>Signup</title>
  </head>
  <body>
    <div class="login-container">
      <h1><a href="../../../homePage.html">ExamCore</a></h1>
      <div>
        <img
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAZNJREFUaEPtmAtOBCEQRNmTqSdTT6aeTK04JMQs9KdqZDCQTJZkgOnXXQ303sri7ba4/WUDzI7gGRF4LKXgeTjg0H89+u/f7/DImhrgpZTybFgHGIyTNBUAvAzD8ettT4poqAA+vVY34yAlQFBNAeCRTc9IWk4sACTzRrnwJwrpxGYBGO9XbioKVwCgcoEFyCTvb8VNBYD+I1tnL13SjkxPPCxRACyfA1MBlt9GoSRmK6W8j4+zOVCTMpsL9PfpBZorc+RExtYJ76dP4Oo5FUBdzyMnWjbtXqwGwNq1oEEfV+zq5Y+jT3v9bADybhebfkYEYhaQozcA6UB6OhuBe/9AeIySJXYWIFPEW2Cp7TUKcIbhLVgYIgKguLhZUajv3XWyF+AvjQ9BeAEUpaPX++04MxIeAM/9JmOcZ45ZL1sAM413SckCmCWdNjrDKIwAZiRuT1bdXBgBXEE+Fah7PowAsmWiJzmjY7oy+tcAV0hgs/gaRWADRIVujL/rbOscENugX24D6H0aW3FHIOYv/ejlI/AFrrhFMdwslZ4AAAAASUVORK5CYII="
        />
        <p>Sign Up</p>
      </div>
      <div>
        <p><a href="../studentRegister.html">As a Student</a></p>
        <p><a href="../examinerRegister.html">As a Examiner</a></p>
      </div>
    </div>
    <div class="footer">
      <div>Copyright &copy; 2024 examcore All Right Reserved</div>
      <div>Terms and Conditions | Privacy Policy</div>
    </div>
  </body>
</html>
