<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="AdminNotification.css">
    <title>Admin Notification</title>
</head>
<body>
    <div class="wrapper"></div>
        <div class="container">
            <aside class="sidebar">
                <h1>ExamCore</h1>
                <ul>
                    <li><a href="../AdminExams/adminExam.html">Exams</a></li>
                    <li><a href="../AdminExaminers/AdminExaminer.html">Examiners</a></li>
                    <li><a href="#">Notifications</a></li>
                    
                </ul>
                
            </aside>
        </div>
    </div>
    <div class="admin-notification-container">
        <h1>Admin Notifications</h1>
        <form id="admin-notification-form">

		Name:<input type="text" id="name-input" placeholder="Enter name" required>
		E-mail:<input type="email" id="email-input" placeholder="Enter email" required>
		Message:<input type="text" id="notification-input" placeholder="Enter notification" required>
	
            <button type="submit">Add Notification</button>

        </form>
        <ul id="list-notifications">


        </ul>

    </div>
    <script src="AdminNotification.js"></script>

</body>
</html>