* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    padding: 0px;
    margin: 0px;
    margin-left: 0px;
    right: 0;
    left: 0;
    
  }
.admin-notification-container {
    margin-left: 300px; 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#admin-notification-form {
    font-family: Poppins,sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 500px; /* Increased height */
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
.admin-notification-container input{
    font-family: Poppins,sans-serif;
}

#notification-input {
    padding: 10px;
    font-family: Poppins,sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    height: 150px;
}

#admin-notification-form button {
    padding: 10px;
    background-color: #761c73;
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font-size: 16px;
}

#admin-notification-form button:hover {
    background-color: #9e2a72;
}

/* Style for the notifications list */
#list-notifications {
    list-style-type: none;
    padding: 0;
    
}

#list-notifications li {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
button{
    font-family: Poppins,sans-serif;
    width:150px;
    display: block;
    margin: 0 auto;
    background-color:#9e2a72; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 17px;
}