*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.studentExamPaper_container .details_block  p{
    color: #761C73;
    font-family: Poppins,'sans-serif';
    font-weight: 600;
    font-size: 14px;
    margin-right: 15px;
    margin-top: 8px;
}
.studentExamPaper_container .details_block span{
    color: #000000;
    font-family: Poppins,'sans-serif';
    font-weight: 600;
    font-size: 18px;
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    border-color: #be02b8;
    width: 60px;
    height: 20px;
    text-align: center;
    height: 40px;
    width: 70px;
    padding: 4px;
    
}
.studentExamPaper_container .details_block{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}
.studentExamPaper_container .details_block .remainingQuestions_block{
    display: flex;
    padding-right: 650px;
    padding-left: 20px;
}
.studentExamPaper_container .details_block .remainingTime_block{
    display: flex;
    
}
.studentExamPaper_container .studentExamPaper_content{
    border-style: solid;
    border-width: 3px;
    border-color: #be02b8;
    border-radius: 10px;
    width: 800px;
    height: 380px;
    padding: 5px;
    margin-left: 20%;
    margin-bottom: 30px;
    
}
.studentExamPaper_container .studentExamPaper_content .examPaper_questionNumber{
    color: #761C73;
    font-family: Poppins,'sans-serif';
    font-weight: 600;
    font-size: 20px;
    padding: 5px;
}
.studentExamPaper_container .studentExamPaper_content .examPaper_question{
    color: #000000;
    font-family: Poppins,'sans-serif';
    font-weight: 600;
    font-size: 16px;
    padding: 15px;
}


.studentExamPaper_container .studentExamPaper_content .examPaper_answerSet{
    color: #000000;
    font-family: Poppins,'sans-serif';
    font-weight: 500;
    font-size: 15px;
    padding-left: 100px;
    padding-bottom: 20px;
}
.studentExamPaper_container .studentExamPaper_content .examPaper_answerSet .exam_answer{
    padding: 15px;
}
.studentExamPaper_container .studentExam-buttons button{
    background-color: #591C76;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 4px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px 0px #00000073;
    margin-left: 200px;
}
.studentExamPaper_container .studentExam-buttons button:hover{
    background-color: #be02b8;
}
.studentExamPaper_container .studentExam-buttons .studentExam-submit-button{
    margin-right: 440px;
}
.noQuestionsAvailable{
    display: flex;
    /* justify-content: center;
    align-items: center;     */
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #cf0bc9;          
    margin: 0;
}