* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
.about-us-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  align-items: center;
  gap: 40px;
}
.about-us-features img {
  width: 80px;
  height: auto;
}
.about-us-description {
  max-width: 30%;
  margin-left: 50px;
}

.about-us-description h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #962b93;
  font-size: 50px;
  margin-bottom: 20px;
}

.about-us-details {
  font-size: 20px;
  font-family: poppins, sans-serif;
  margin-bottom: 60px;
}

.about-us-main-learn-more {
  font-family: poppins, sans-serif;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  margin-top: 30px;
}

.about-us-features {
  display: grid;
  font-family: poppins, sans-serif;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 30px; /* Space between items */
  margin: 20px; /* Optional margin for the grid */
  margin-right: 40px;
}

.about-us-features div {
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px #761c73;
  border: 2px solid #784777;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.about-us-features div:hover {
  transform: translateY(-10px) scale(1.05); /* Slight lift and zoom on hover */
  box-shadow: 0 8px 12px #c57ac2; /* Enhanced shadow on hover */
}

.feature-heading p {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #784777;
}

.feature-description {
  font-family: poppins, sans-serif;
  font-size: 15px;
  margin-top: 10px;
  color: #666;
}

.feature-learn-more-btn {
  margin-top: 15px;
  border: 2px solid black;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  max-width: fit-content;
  font-size: 1.1rem;
}
