body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  background-color: white;
  margin: 0%;
}
.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Container {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  max-width: 1200px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.sidebar {
  width: 250px;
  height: 560px;
  background-color: white;
  padding: 15px;
  border-right: 1px solid #761c73;
  margin: 0%;
  margin-top: 20px;
  position: fixed;
  height: 100vh;
}

.sidebar h1 {
  margin-bottom: 30px;
  font-size: 35px;
  text-align: center;
  color: #761c73;
}

.sidebar ul {
  list-style-type: none;
  padding: 10px;
  margin-bottom: 20px;
}

.sidebar ul li {
  margin-bottom: 15px;
  padding-left: 30px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  position: relative;
}
.sidebar ul li a::after {
  content: "";
  width: 0%;
  height: 4px;
  background: #02bab1;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.8s;
  border-radius: 3px;
}
.sidebar ul li a:hover::after {
  width: 100%;
}
.profile-btn {
  font-family: Poppins, sans-serif;
  border-radius: 12px;
  padding: 10px;
  background-color: #571054;
  color: white;
  cursor: pointer;
  text-align: center;
  border: 2px solid rgb(165, 77, 147);
  border-radius: 10px;
  width: 150px;
  text-decoration: none;
  margin-left: 25px;
  margin-top: 150px;
}
.profile-btn a {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  color: rgb(255, 255, 255);
}

.profile-btn:hover {
  background-color:  #02bab1;
}
.page-footer {
  background-color: #761c73;
  text-align: center;
  width: 100vw;
  padding: 0;
  height: 35px;
  position: relative;
  margin-top: 25%;
  bottom: 0;
  left: 0;
}

.page-footer p {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
  margin: 0;
}
.page-footer p a {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
}
.page-footer p a:hover {
  color: #fc33f5;
}
