body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #dfe1ea, #e47bfe);
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.main-logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
.main-logo:hover {
  color: var(--accent-color);
}

.home-page-content {
  background: linear-gradient(to right, #e47bfe, #f6f7f8);
  text-align: center;
  margin-top: 40px;
  padding: 30px 0; 
  transition: background 0.5s ease; /* Transition to background color */
}
.home-page-content:hover {
  background: linear-gradient(to right, #f6f7f8, #e47bfe); 
}

.home-page-content h1 {
  font-size: 50px;
  transition: color 0.4s ease;
}
.home-page-content h1:hover {
  color: #8a2be2;
}

.home-page-description {
  background-color: rgba(127, 36, 163, 0.788);
  margin: 0 350px;
  font-size: 23px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 12px; 
  transition: transform 0.4s ease-in-out; 
}
.home-page-description:hover {
  transform: scale(1.05);
}

.home-page-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.get-started, .learn-more {
  font-size: 20px;
  padding: 12px 20px;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.get-started {
  background-color: black;
  color: white;
}
.get-started:hover {
  background-color: white;
  color: black;
  border-color: #e47bfe; 
  transform: translateY(-5px); 
}

.learn-more {
  background-color: white;
  color: black;
}
.learn-more:hover {
  background-color: #e47bfe;
  color: white;
  border-color: #e47bfe; 
  transform: translateY(-5px); 
}

footer {
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  background-color: #f6f7f8;
  color: #777;
  font-size: 14px;
  transition: background-color 0.4s ease;
}
footer:hover {
  background-color: #e47bfe;
  color: white;
}
