body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
}

.home-page-content {
  background-color: red;
  text-align: center;
  margin-top: 40px;
}

.home-page-content h1 {
  font-size: 50px;
}

.home-page-description {
  background-color: aqua;
  margin: 0 350px;
  font-size: 23px;
  margin-bottom: 30px;
}

.home-page-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.get-started {
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
}

.learn-more {
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  border: 2px solid black;
  cursor: pointer;
  max-width: fit-content;
}

/* sdfjk */
