html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.student-register-logo {
  margin: 0 0 0 15%;
  padding: 0;
  font-size: 35px;
  font-weight: 600;
  color: #761c73;
}

.student-register-main-container {
  margin: 5% 0 0 15%;
  display: flex;
  gap: 100px;
}

.signup-methods {
  width: 420px;
}

.signup-methods span {
  font-size: 28px;
  font-weight: 600;
}

.student-email-register,
.student-register-redirect-login {
  font-size: 12px;
  margin-top: 20px;
}

#types {
  width: 97% !important;
  height: fit-content;
  border: 2px solid #761c73;
  border-radius: 8px;
  font-size: 15px;
  padding: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-field {
  width: 90%;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.input-container label {
  font-size: 16px;
  color: #999;
  margin-bottom: 5px;
}

.register-submit-btn {
  background-color: #761c73;
  color: whitesmoke;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  width: 97%;
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-size: 18px;
  margin-bottom: 20px;
}

.register-submit-btn:hover {
  background-color: #8d2289;
}

.signup-convincing-imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
  grid-template-rows: repeat(2, 1fr); /* Two equal-height rows */
  row-gap: -20px;
  column-gap: 15px;
  justify-items: center; /* Centers the grid items horizontally */
  align-items: center; /* Centers the grid items vertically */
  padding: 50px 0;
}

.signup-convincing-imgs section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.signup-convincing-imgs img {
  width: 150px;
  height: auto;
}

.signup-convincing-imgs p {
  margin-top: 10px;
  font-size: 16px;
  color: #777;
}

.student-register-redirect-login {
  text-align: center;
}
