
body{
    font-family: poppins, Helvetica, sans-serif;
    background-color: rgb(175, 166, 174);
    padding:20px;
    
    
}
h1{
    color:#761c73;

}
form{
    width:500px;
    color: rgb(69, 68, 68);
    margin:auto;
    padding:100px;
    border-color: grey;
    background-color:white ;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
input[type="password"]{
   margin-bottom: 20px;
   width:500px;
}
input[type="submit"]{
    width:30%;
    padding:7px;
    margin:7px;
    background-color: #761c73;
    color:white;
    border: none;
}
input[type="submit"]:hover{
    background-color: black;
    color: white;
}

form input{
    padding:10px;
    margin-top: 10px;
    margin-bottom: 3px;
    border:1px solid #ccc;
    border-radius: 4px;
}
