/*Got some attributes from w3 school*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family: poppins, Helvetica, sans-serif;
    background-color:(grey,white);
    margin: 0;
    padding: 0;
   
}
main{
    margin-left: 220px;
    padding: 20px;
    width:calc(100%-220px);
    
}


.student-profile,.exam-history{
    background: white;
    padding:40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    
   
}
h2{
    border-bottom: 2px solid #761c73;
    padding-bottom: 10px;
}

form{
    display: flex;
    flex-direction: column;
    width:700px;
    
     
}
form label{
    margin-top: 10px;

}
form input{
    font-family: poppins, Helvetica, sans-serif;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.button{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}
button{
    font-family: poppins, Helvetica, sans-serif;
    background-color: #761c73;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    
}
button:hover{
    background-color: white;
    color:black;
    
}
.exam-history ul {
    list-style-type: none;
    padding: 0;

}
.exam-history ul li{
    margin-top: 10px;
}
.exam-history ul li a{
    text-decoration: none;
    color: #761c73;


}
.exam-history ul li a:hover{
    color:black;
}



