/*Got some attributes from w3 school*/
body{
    
    font-family: Arial, Helvetica, sans-serif;
    background-color:(grey,white);
    margin: 0;
    padding: 0;
    display: flex;
   
}
nav{
    background-color: darkgray;
    color:white;
    padding: 10px;
    width:200px;
    height:100vh;
    position:fixed;
    top:0;
    
    
    line-height: 5;
    
   
}
nav h1{
    color:#761c73 ;
}
nav ul{
    list-style-type: none;
    padding:0;
}
li a.active{
background-color: white;
color:black;

}
nav ul li{
    margin-bottom: 20px;
}

main{
    margin-left: 220px;
    padding: 20px;
    width:calc(100%-220px);
}
.examiner-profile,.exam-history{
    background: white;
    padding:20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    margin-bottom: 20px;
}
h2{
    border-bottom: 2px solid #761c73;
    padding-bottom: 10px;
}
.examiner-profile-picture{
   
    position:absolute;
    top:0;
    right:0;
    margin:10px;
    height: 300px;
    width:300px;

}
form{
    display: flex;
    flex-direction: column;
    width:900px;
     
}
form label{
    margin-top: 10px;

}
form input{
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.button{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}
button{
    background-color: #761c73;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    
}
button:hover{
    background-color: white;
    color:black;
    
}
.exam-history ul {
    list-style-type: none;
    padding: 0;

}
.exam-history ul li{
    margin-top: 10px;
}
.exam-history ul li a{
    text-decoration: none;
    color: #761c73;


}
.exam-history ul li a:hover{
    color:black;
}
.examiner-profile-pic{
    float: right;
    
}
  