<!DOCTYPE html>
<html>
  <head>
    <title>ExamCore</title>
    <link rel="stylesheet" href="./studentHome.css" />
  </head>
  <body>
    <header>
      <h1>ExamCore</h1>
      <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Search" />
      </div>
    </header>
    <div class="container">
      <nav class="vertical-nav" class="navbar">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="../studentExam.html">Exam</a></li>
          <li><a href="../StudentSupport/studentSupport.html">Support</a></li>
          <li><a href="../StudentNotification.html">Notification</a></li>
          <li><a href="../studentProfile.html">profile</a></li>
        </ul>
      </nav>

      <main class="content">
        <section class="most-recent-exams">
          <h2>Most Recent Exams</h2>
        </section>

        <section class="notifications">
          <h2>Notifications</h2>
        </section>
      </main>
    </div>
    <footer>
      Copyright © 2024 Website All rights reserved | Terms & Conditions |
      Privacy Policy
    </footer>
  </body>
  <script src="../../javaScript/studentHome.js"></script>
</html>
