/* Basic styling for the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    background-color:white;
}

.main-content {
    padding: 25px;
    margin-left: 280px;
}
.image-placeholder img {
    width: 100%;
    height: auto;
    background-color: #ddd;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top: -55px;
}
.name-placeholder{
    width: 80%;
    height: 100px;
    background-color: #761c73;
    margin-bottom: 20px;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 18px;
    border-radius: 3px;
    box-shadow: 0 4px 4px black ;
}
.name-placeholder h1{
    color:white;
}


/* Flex container for content and quote */
.content-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

/* Exam info and history are grouped together in a section */
.exam-section {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.exam-info, .exam-history {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.exam-info h3, .exam-history h3 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #761c73;
}

.exam-details p, .exam-history ul li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style-type: none;
}

/* Quote section styling */
.quote-section {
    width: 30%;
    text-align: center;
}

.quote-section img {
    width: 100%;
    height:auto;
    border-radius: 10px;
    margin-bottom: 10px;
    
}

.quote {
    font-size: 18px;
    font-style: italic;
    text-align: center;
    color: #555;
}