* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin-top: 0%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}
h1{
  padding: 0px;
  margin: 0%;
  margin-left: 0%;
}
.sidebar h1{
  margin-left: 0px;
  margin-right: 0px;
}
.admin-examiner-container{
  margin-top: 130px;
}
.admin-examiner-container{
  margin-left: 370px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

table {
  width: 75%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.edit-btn, .delete-btn, .add-examiner-btn {
  background-color: #a3239f;
  color: white;
  font-family: poppins, sans-serif;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 8px;
}

.edit-btn:hover, .delete-btn:hover, .add-examiner-btn:hover {
  background-color: #234466;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 999;
}
